body {
    text-align: center;
}

div#oreo-header.header {
    text-align: center;
    background-color: white;
    height: 200px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    white-space: nowrap;
}

div#oreo-header.header img {
    height: 180px;
    /* float: left; */
}