@font-face {
    font-family: oreoFont;
    src: url(fonts/oreos.ttf)
}

body {
    text-align: center;
    box-sizing: border-box;
    background-color: #d3edff;
}

div#oreo-header.header {
    text-align: center;
    background-color:#A4CEEA;
    height: 165px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    white-space: nowrap;
    border: 3px solid #314998; 
}

div#oreo-header.header img {
    height: 95px;
    line-height: 200px;
    border-radius: 50%;
    border: solid;
    border-color: #314998;
}

.oreo-bar {
    display: inline-block;
    margin: 0px;
    padding: 10px 10px 10px 10px
}

.oreo-bar:hover {
    background-color: #93b8d1;
  }

#banner {
    height: 220px;
    background-image: url("images/Oreo-HD-Wallpaper.jpg");
    background-size: cover;
    background-position-y: center;
}

div.oreo-bar p {
    font-size: small;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* width */
::-webkit-scrollbar {
    height: 7px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #76a5c4;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5a75cf;
  }
  /* Handle on hover */
  
div#banner img {
    height: 220px;
}

img#placeholder-img {
    height: 250px;
    margin-top: 10px;
}

.upper-input {
    /* margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px; */
    margin: 5px 10px;
}

#name {
    margin-right: 79px;
}

h3#expert-rating, h3#user-rating {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    margin-top: 5px;
}

h1#ratings {
    font-family: oreoFont;
}

form {
    margin-top: 20px;
}

form input, form textarea {
    border: 2px solid #314998;
    background-color: #d3edff;
    color: #314998;
}

div#comment-container {
    margin-left: 0px;
}

ul {
    list-style: none;
    display: flex;
    margin: auto;
    padding-left: 0px;
    flex-flow: row wrap;
    text-align: center;
}

li.user-comment {
    background-color: #4B3730;
    border: 3px solid black;
    border-radius: 20%;
    flex-flow: row wrap;
    width: 223px;
    margin: 10px;
    color: white;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 0px;
}
li p {
    background-color: white;
    color: #4B3730;
    padding: 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

div#page-container {
    width: 750px;
    text-align:center;
    align-content: center;
    margin: auto;
}

div#main-content{
    background-color: white;
}

button.delete-button {
    border: 1.5px solid black;
    border-radius: 100%;
    background-color: #76a5c4;
    color: white;
}
